* {
	box-sizing: border-box;
  }
  body {
    font-family: 'Dancing Script', cursive; font-size: 22px;
}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: hwb(204 80% 4%);
  }
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    color: white;
    background-color: #db7093;
    font-weight: bold;
  }
.photos{
	max-width: 100%;
	height: auto;
	background-color: #dedede;
  overflow: auto;
}

.background{
	background-color: #dedede;	
}	
.Banner {
  position: relative;
}

.content{
	position: absolute;
	top: 50%;
	left: 50%;
	color: rgb(255, 255, 255);
  transform: translate(-50%,-50%);
  text-align: center;
}

.slider {
  margin: auto;
  background: red;
  color: white;
  width: 80%;
  height: auto;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  -webkit-scroll-snap-points-x: repeat(300px);
  -ms-scroll-snap-points-x: repeat(300px);
      scroll-snap-points-x: repeat(300px);
-webkit-scroll-snap-type: mandatory;
  -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
}
.slide {
  width: 75%;
  flex-shrink: 0;
  height: auto;
}
.slides > div:target {
  transform: scale(0.8);
}
